extends layout

block content
  <a href="about">About Page</a>
  h1= title
  p Ice cream cake sesame snaps macaroon gingerbread lollipop tootsie roll marshmallow pastry. Bear claw powder cake toffee tart. Cake sweet  roll danish gummi bears cupcake soufflé jelly beans. Lollipop cheesecake biscuit toffee. Cupcake soufflé croissant wafer. Carrot cake oat   cake lemon drops muffin pudding chocolate jujubes chocolate icing. Carrot cake toffee cupcake danish. Cookie topping cookie chocolate       chocolate cake liquorice ice cream. Tart ice cream biscuit pastry gingerbread wafer cookie lollipop jujubes. Gummi bears gummi bears        gingerbread biscuit carrot cake. Tiramisu sesame snaps croissant cake candy. Powder soufflé dessert gingerbread tart lemon drops. Ice       cream fruitcake ice cream cupcake cotton candy bear claw. Brownie toffee soufflé jelly beans ice cream gummi bears liquorice sugar plum     wafer.
  <a href="/form">Form Page</a>
  